.vs
bin
obj
*.user
/gms/datafiles/ext_gms23_simple_html5.wasm
/gms/extensions/ext_gms23_simple/ext_gms23_simple_html5.js
/gms/extensions/ext_gms23_simple/ext_gms23_simple_macos64.dylib
/gms/extensions/ext_gms23_simple/ext_gms23_simple_ubuntu64.so
/gms/extensions/ext_gms23_simple/ext_gms23_simple_win32.dll
/gms/extensions/ext_gms23_simple/ext_gms23_simple_win64.dll
/gms/scripts/scr_gms23_simple_api/scr_gms23_simple_api.gml
